# 機密情報
const/secret/

# selenium動作確認スクショ
/screenshots/

# 明細csvDL先
/billing_statement_latest_csv/

# bottleを使うと出現するディレクトリ
/**/__pycache__/

# READMEに載せる
erd.drawio
アプリ動作環境.drawio

.DS_Store

*.css.map